[submodule "lib/fastmecenumeration"]
	path = lib/fastmecenumeration
	url = https://github.com/pckennethma/fastmecenumeration.git

[submodule "lib/blip"]
	path = lib/blip
	url = https://github.com/mauro-idsia/blip.git

[submodule "lib/fdx"]
	path = lib/fdx
	url = https://github.com/sis-ethz/Profiler-Public.git